body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(77, 77, 201);
}

section {
  height: 50vh;
  width: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: whitesmoke;
  border-radius: 50px;
  gap: 2px;
}

.compteur {
  font-size: 2rem;
}

button {
  width: 50%;
  height: 10%;
  border-radius: 20px;
  border: 0;
}

.max {
  font-size: 2rem;
}

input {
  width: 50%;
  margin-bottom: 10%;
}

.vert {
  background-color: rgb(53, 172, 53);
  color: whitesmoke;
}

.rouge {
  background-color: rgb(226, 10, 10);
  color: whitesmoke;
}

.bleu {
  background-color: rgb(97, 97, 247);
  color: whitesmoke;
}
